{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
  <div class="login-box">
    <div class="login-logo">
      <img src="{% static 'img/LogoMAQTEC2.png' %}" width="240px" />
    </div>
    <div class="card">
      <div class="card-body login-card-body menulogin">
        <hr />
        <form action="." method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}" />
          <div class="input-group mb-3">
            {{ form.username|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Nombre de Usuario' }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user" style="color: grey;"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            {{ form.password|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Contraseña' }}
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock" style="color: grey;"></span>
              </div>
            </div>
          </div>
          <hr />
          <div class="row">
            <!-- /.col -->
            <div class="col-mb-12">
              <button type="submit" class="btn btn-success btn-block btn-flat">Iniciar Sesión <i class="fas fa-sign-in-alt"></i></button>
            </div>
            <!-- /.col -->
          </div>
        </form>
        <hr />
        <p class="mb-1 text-center">
          <a href="" class="option">Cambiar Contraseña</a>
        </p>
        <hr />
      </div>
    </div>
  </div>

  <script type="application/javascript">
    {% if form.errors %}
    var errors = ''; 
    {% for field in form %} 
        {% for error in field.errors %}
            errors += '{{ error }}\n'; 
        {% endfor %} 
    {% endfor %} 
    {%for error in form.non_field_errors %}
    errors += '{{ error }}\n'; 

    {% endfor %}
    Swal.fire({
        title: 'Error!',
        text: errors,
        icon: 'error'
    });
    {% endif %}
</script>
{% endblock %}